@import "../../styles/variables.module";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 100%;

  font-size: $font-medium;
  color: $alpha-text-two;
}

.focused {
  font-size: $font-xxlarge;
  font-weight: bold;
  line-height: 0.95;
  margin: 0.4rem 0 1.2rem;
  color: $alpha-text-one;
}
