$stoke: 600;

// TODO: working, but refactor to make it cleaner
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
}

:global(#vectorGraphic1) g {
  stroke-dasharray: $stoke;
  stroke-dashoffset: $stoke;
  opacity: 1;
  animation: draw 10s infinite;
  animation-delay: calc(var(--order) * 100ms);
}

@keyframes draw {
  // start - not visible
  0% {
    stroke-dashoffset: $stoke;
  }
  // fade in
  10% {
    stroke-dashoffset: 0;
  }

  //fade out
  20% {
    stroke-dashoffset: -$stoke;
  }

  //end - not visible
  100% {
    stroke-dashoffset: -$stoke;
  }
}
