.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
}

// see comment at keyframes
:global(#vectorGraphic1) g {
  stroke-dasharray: 555;
  stroke-dashoffset: 1680;
}

@media (prefers-reduced-motion: no-preference) {
  :global(#vectorGraphic1) g {
    animation: draw 10s infinite;
    animation-name: draw;
    -webkit-animation-name: draw;
    animation-duration: 10s;
    -webkit-animation-duration: 10s;
    animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
  }

  // TODO: can't use calc in keyframes, have to use
  // magic number until I find a clean solution
  @keyframes draw {
    0% {
      stroke-dasharray: 555;
    }
    20%,
    100% {
      stroke-dasharray: 1125;
    }
  }
}

@media screen and (min-width: 744px) {
  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: auto;
  }
}
