@import "../../styles/variables.module";

.accordion {
  width: 100%;
  border: 2px solid $alpha-accent-two;
  color: $alpha-text-one;
  border-radius: $borderRadius;
}

.accordion > div:first-child button {
  border: none;
}
