@import "../../styles/variables.module";

.container {
  max-width: var(--maxWidth);
  padding: 50px var(--gutters);

  position: relative;

  display: block;
  text-decoration: none;

  background-color: $omega-background-one;
  color: $omega-text-one;
  background-image: url("../../../public/github-mark.svg");
  background-repeat: no-repeat;
  background-position-x: 135%;
  background-position-y: -50%;
  background-size: 50%;
}

.container:hover {
  text-decoration: none;
}

.headerContainer {
  display: flex;

  span {
    display: block;
  }
}

.profile {
  width: 45px;
  height: 45px;
  border-radius: 50px;

  + div {
    margin-left: 1rem;
  }
}

.projectName {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.github {
  width: 50%;
  height: auto;

  top: 10%;
  right: 0;
  position: absolute;
  overflow: hidden;
}

/* airbnb breakpoint */
@media screen and (min-width: 744px) {
  .container {
    background-position-x: 100%;
    background-position-y: 35%;
    background-size: 35%;
  }
}
