@import "../styles/variables.module";

.app {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $alpha-background-one;
  color: $alpha-text-two;
}

a {
  color: inherit;
  text-decoration: unset;
}
a:hover {
  text-decoration: underline;
}

/* airbnb breakpoint */
@media screen and (min-width: 744px) {
}
/* airbnb breakpoint */
@media screen and (min-width: 1440px) {
}
