@keyframes draw {
  // start - not visible
  0% {
    stroke-dashoffset: 600;
  }
  // fade in
  10% {
    stroke-dashoffset: 0;
  }

  //fade out
  20% {
    stroke-dashoffset: -600;
  }

  //end - not visible
  100% {
    stroke-dashoffset: -600;
  }
}
