/** Color variables are divided into sections labeled by: **/
/** greekAlphabet-purpose-number **/

/** Alpha is the primary and default color scheme of the site, used for text sections **/
$alpha-background-one: #fefff1;
$alpha-background-two: white;
$alpha-text-one: #1f2836;
$alpha-text-two: #33677c;
$alpha-text-three: #618b9c;
$alpha-accent-one: #e3811e;
$alpha-accent-one-transparent: rgba(227, 129, 30, 0.5);
$alpha-accent-two: #b85a1a;
$alpha-accent-two-transparent: rgba(184, 90, 26, 0.5);
$alpha-accent-three: #6a3722;

/** Beta is the secondary color scheme of the site, used for accent **/
$beta-background-one: #ecf8f8;
$beta-text-one: #1f2836;
$beta-text-two: #33677c;
$beta-text-three: #618b9c;
$beta-accent-one: #b85a1a;

/** Delta is the white color scheme of the site, used for social media **/
$delta-background-one: white;
$delta-text-one: #272727;
$delta-text-two: #747474;
$delta-accent-one: #3b3c3c;
$delta-accent-one-transparent: rgba(11, 99, 193, 0.7);

/** Omega is the and dark-mode color scheme of the site **/
$omega-background-one: #1f2836;
$omega-text-one: #fefff1;
$omega-accent-one: #33677c;
$omega-accent-two-transparent: rgba(51, 103, 124, 0.5);

// util
$box-shadow-one: rgba(0, 0, 0, 0.25);
$controls-dark-one: rgba(0, 0, 0, 0.5);
$controls-dark-two: rgba(0, 0, 0, 0.4);
$controls-dark-three: rgba(0, 0, 0, 0.3);

/** Structural **/
$gutters: 50px;
$maxWidth: 100%;
$borderRadius: 4px;

/** Font sizes **/
$font-xsmall: 14px;
$font-small: 16px;
$font-medium: 24px;
$font-large: 32px;
$font-xlarge: 48px;
$font-xxlarge: 72px;

// allows the export of scss variables to be used in components
:export {
  font-xsmall: $font-xsmall;
  font-small: $font-small;
  font-medium: $font-medium;
  font-large: $font-large;
  font-xlarge: $font-xlarge;
  font-xxlarge: $font-xxlarge;
}
