/** Color variables are divided into sections labeled by: **/
/** greekAlphabet-purpose-number **/

/** Alpha is the primary and default color scheme of the site, used for text sections **/
$alpha-background-one: #fefff1;
$alpha-background-two: white;
$alpha-text-one: #6a3722;
$alpha-text-two: #b85a1a;
$alpha-text-three: #618b9c;
$alpha-accent-one: #e3811e;
$alpha-accent-one-transparent: rgba(227, 129, 30, 0.5);
$alpha-accent-two: #b85a1a;
$alpha-accent-two-transparent: rgba(184, 90, 26, 0.5);
$alpha-accent-three: #6a3722;
$alpha-input-border: #b4b4b4;

/** Omega is the and dark-mode color scheme of the site **/
$omega-background-one: #1f2836;
$omega-text-one: #fefff1;
$omega-text-two: #e0e0df;
$omega-accent-one: #70b5fa;
$omega-accent-one-transparent: rgba(112, 181, 250, 0.5);
$omega-accent-two: #33677c;
$omega-accent-two-transparent: rgba(51, 103, 124, 0.5);
$omega-accent-three: #aad4ff;

// util
$box-shadow-one: rgba(0, 0, 0, 0.25);
$controls-dark-one: rgba(0, 0, 0, 0.5);
$controls-dark-two: rgba(0, 0, 0, 0.4);
$controls-dark-three: rgba(0, 0, 0, 0.3);

/** Structural **/
$gutters: 50px;
$maxWidth: 100%;
$borderRadius: 4px;

/** Font sizes **/
$font-xsmall: 14px;
$font-small: 16px;
$font-medium: 24px;
$font-large: 32px;
$font-xlarge: 48px;
$font-xxlarge: 72px;

// allows the export of scss variables to be used in components
:export {
  font-xsmall: $font-xsmall;
  font-small: $font-small;
  font-medium: $font-medium;
  font-large: $font-large;
  font-xlarge: $font-xlarge;
  font-xxlarge: $font-xxlarge;
}
