$stoke: 1600;

// TODO: working, but refactor to make it cleaner
.container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

:global(#vectorGraphic3) g {
  stroke-dasharray: $stoke;
  stroke-dashoffset: $stoke;
  opacity: 1;
}

@keyframes draw {
  // start - not visible
  0% {
    stroke-dashoffset: $stoke;
  }
  // fade in
  10% {
    stroke-dashoffset: $stoke;
  }

  //fade out
  40% {
    stroke-dashoffset: -$stoke;
  }

  //end - not visible
  100% {
    stroke-dashoffset: -$stoke;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :global(#vectorGraphic3) g {
    animation: draw 10s infinite;
    animation-delay: calc(6s + var(--order) * 100ms);
  }
}

@media screen and (min-width: 744px) {
  .container {
    bottom: -10%;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    bottom: -50%;
  }
}
