$stoke: 1600;

// TODO: working, but refactor to make it cleaner
.container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;

  // see comment at keyframes
  g {
    stroke-dasharray: 1104;
    stroke-dashoffset: 3360;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .container g {
    animation-name: draw;
    -webkit-animation-name: draw;
    animation-duration: 12s;
    -webkit-animation-duration: 12s;
    animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-delay: calc(9s + var(--order) * 100ms);
    -webkit-animation-delay: calc(9s + var(--order) * 100ms);
  }

  // TODO: can't use calc in keyframes, have to use
  // magic number until I find a clean solution
  @keyframes draw {
    0% {
      stroke-dasharray: 1104;
    }
    15%,
    100% {
      stroke-dasharray: 2250;
    }
  }
}

@media screen and (min-width: 744px) {
  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: auto;
  }
}
