@import "../../styles/variables.module";

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: $font-medium;

  background-color: $omega-background-one;
  color: $omega-text-two;
  height: 10vh;
  padding: 2rem;
}

.icon {
  margin: 1rem;
  width: $font-large;
  height: $font-large;
  // causes the icons to slowly move up and down
  animation: mover 1s infinite alternate;
  -webkit-animation: mover 1s infinite alternate;
}

// causes the icons to slowly move up and down
@keyframes mover {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

// causes the icons to slowly move up and down
@-webkit-keyframes mover {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
