.container {
  position: absolute;
  top: 0;
  right: -20%;
  width: auto;
  height: 100%;

  // see comment at keyframes
  g {
    stroke-dasharray: 555;
    stroke-dashoffset: 1680;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .container g {
    animation-name: draw;
    -webkit-animation-name: draw;
    animation-duration: 12s;
    -webkit-animation-duration: 12s;
    animation-direction: normal;
    -webkit-animation-direction: normal;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-delay: calc(5s + var(--order) * 100ms);
    -webkit-animation-delay: calc(5s + var(--order) * 100ms);
  }

  // TODO: can't use calc in keyframes, have to use
  // magic number until I find a clean solution
  @keyframes draw {
    0% {
      stroke-dasharray: 555;
    }
    15%,
    100% {
      stroke-dasharray: 1125;
    }
  }
}

@media screen and (min-width: 744px) {
  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: auto;
  }
}
